/* 标签选择器 */
p {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: fantasy;
}

/* id选择器 */
#hr1 {
    background-color: white;
    height: 2px;
    width: 75%;
}

/* 类选择器 */
.imgbox {
    border-top: 5px solid white;
    /* 避免因窗口变化影响图片效果 */
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

.img {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    display: none;
}